.custom-carousel {
  max-width: 100%;
  margin: auto;
}

.custom-carousel .carousel-inner {
  max-width: 100%;
}

.custom-carousel .carousel-item {
  max-width: 100%;
}

.custom-carousel img {
  max-width: 100%;
}
